# Python
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
.mypy_cache/
build/
dist/

# Environments
.venv/
env/
venv/

# IDE
.vscode/
.idea/
.DS_Store

# Env files
.env

# Streamlit
.streamlit/

# Alembic
migrations/versions/*.pyc

